body {
    background-color: black;
}

.main {
    background-color: white;
    margin-top: 110px;
    margin-top: 30px;
    padding-left: 100px;
    min-width: 1200px;
    height: 500px;
    position: relative;
    z-index: 1;
}

.title h1 {
    font-family: 'Cinzel', serif;
    margin: 20px auto 0 auto;
    color: white;
    text-align: center;
    padding: 6px;
}

.ryu {
    float: left;
}

.ryu {
    width: 659px;
    height: 494px;
}

.ryu-ready,
.ryu-still,
.ryu-cool,
.ryu-throwing {
    width: 659px;
    height: 494px;
    display: none;
}

.ryu-ready {
    background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
    background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
    background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
    background-image: url('../images/ryu-cool.gif');
}

.hadouken,
.ryu-ready,
.ryu-still,
.ryu-throwing {
    background-repeat: no-repeat;
}

.hadouken {
    background-image: url('../images/hadouken.gif');
    width: 156px;
    height: 90px;
    display: none;
    float: left;
    position: relative;
    top: 167px;
    left: -212px;
    z-index: 10;
    background-size: 50%;
}

.instructions {
    position: absolute;
    left: 650px;
    height: 350px;
    width: 400px;
    /*  height: 425px;
    width: 600px; */
    padding-top: 75px;
}

.how-to {
    background-color: floralwhite;
    display: inline-block;
    border: 1px solid black;
    text-align: left;
    color: black;
}

.how-to p {
    width: 50%;
    font-size: 18px;
    line-height: 22px;
    margin-left: 50px;
}

.how-to p:last-child {
    font-size: 18px;
    line-height: 22px;
    margin-left: 50px;
    /* margin-left: 275px; */
}
